[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
mypy = "*"

[packages]
environs = "==7.3.1"
Django = "==3.0.7"
djangorestframework = "*"
markdown = "*"
django-filter = "*"
mypy = "*"

[requires]
python_version = "3.7"
